*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Candara';
	height: auto;
	background: url(../img/back.jpg) center top no-repeat;
	background-color: #0b0504;
}
@font-face {
	font-family: Candara; 
	src: url(../Font/Candara.ttf); 
}
@font-face {
	font-family: Candarab; 
	src: url(../Font/Candarab.ttf); 
}
@font-face {
	font-family: Candarai; 
	src: url(../Font/Candarai.ttf); 
}
@font-face {
	font-family: Candaraz; 
	src: url(../Font/Candaraz.ttf); 
}
#wrapper{
	width: 1000px;
	margin: 0 auto;
}
.header{
	height: 500px;
	width: 1000px;
	background: url(../img/asd1.jpg);
	position: relative;

}
.header_menu{
	vertical-align: top;
	color: white;
	width: 1000px;
	display: inline-block;

}
.header_menu li{
	display: inline-block;
	margin: 0 25px;
	padding: 31px 0;
	text-transform: uppercase;
	
}

.header_menu-li li{
	color: grey;
}
.header_menu-li a{
	color: grey;
	padding: 34px 0;
	text-decoration:none;
}
.header_menu-li a:hover {
	color: white;

	
}
.header_menu-li:hover{
	box-shadow: inset 0px 14px 21px -18px #fc3030;
	border-top: 1px solid red;
	color: white;
	padding: 30px 0;
}

.header_menu-left{
	float: left;
	width: 450px;
}
.header_menu-left:hover{
	opacity: 1;
}
.header_menu-right{
	float: right;
	width: 450px;
	text-align: right;
}
.dropdown a:before{
	content: '>';
	top: 50%;
	padding-right: 15px;
	width: 15px;
	height: 15px;
	color: white;
	vertical-align: bottom;
}
.dota_icon{
	position: absolute;
	top: 0px;
	left: 44%;
	height: 80px;
}
.dropdown{
	position: absolute;
	display: block;
	width: 160px;
	left: 17.6%;
	top:85px;
	opacity: 0;
	z-index: 1;
}

.dropdown:hover{
	opacity: 1;
	border: 1px solid #2e2c2c;
	transition: all 0.8s ease;
	background: #1b1b1b;
}
.dropdown:before{
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	top: -5%;
	left: 43%;
	z-index: -1;
	background: #111;
	border:1px solid #2e2c2c;
	transform: rotate(45deg);
	opacity: 1;

}
.dropdown li {
	font-size: 14px;
	display: block;
	border:none;
	color: white;
	background: black;
	text-align: left;
	margin: 0;
	padding: 0;
	text-transform: none;
}
.dropdown a{
	padding: 15px 28px;
	display: block;
	color: #b1b1b1;
	text-decoration: none;
}
.dropdown a:hover{
	background: #111;
	color: white;
}
.header:before{
	content: '';
	height: 20px;
	position: absolute;
	background:url(../img/line.png) center no-repeat;
	width: 1000px;
	top: 85px;
	right: 0%;
	left: 0;
}
.container{
	width: 1000px;
	font-size: 0;
	height: auto;
	background: #201b1f;
}
.logo{
	position: absolute;
	top: 40%;
	left: 16%;
}
.content{
	display: inline-block;
	background: #222024;
	width: 680px;
	height: auto;
	vertical-align: top;
	padding-bottom: 40px;
	position: relative;
}
.content:before{
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	border-right: 1px solid #272226;
	top: 0%;
	right: 0;
}
.sidebar{
	display: inline-block;
	width: 320px;
	height: auto;
	font-size: 0;
	background: #201b1f;
}
.content_slide{
	position: relative;
	width: 100%;
	height: auto;
}
.content_slide-stroke{
	position: absolute;
	width: 100%;
	height: 30px;
	font-size: 13px;
	color: white;
	bottom:0px;
	background: rgb(0,0,0,0.5);
	left: 0;
	color: white;
	box-sizing: border-box;
}
.content_slide-stroke b{
	margin-left: 10px;
}
.h1{
	position: absolute;
	font-size: 36px;
	color: white;
	top: 60%;
	left: 5%;
	text-transform: uppercase;
}
.button_slide{
	background: url(../img/btn.png)no-repeat;
	height: 20px;
	width: 60px;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px;
	text-decoration:none;
	color: white;
}
.button_slide:hover{
	filter: brightness(115%);
	transition: all 0.4s ease;
}
.radioset{
	position: absolute;
	height: 22px;
	width: 100px;
	bottom: 0px;
	text-align: center;
	right: 0;
}
.rounded_button li{
	background: grey;
	height: 5px;
	width: 5px;
	display: inline-block;
	border-radius: 50%;
	margin: 5px 5px;

}
.rounded_button li:hover{
	background: #df3d2d;
	cursor: pointer;
}
.news{
	padding: 35px 35px;
	background: #222024;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
.h2{
	font-size: 18px;
	display: inline-block;
	color: white;
	text-align: left;
	padding-right: 30px;
	position: relative;
}
.h2:before{
	content: '';
	position: absolute;
	height: 8px;
	width: 1px;
	top: 10px;
	right: 0;
	background: grey;
}
.news_list {
	padding-bottom: 15px;
	border-bottom: 1px solid #483f44;
}
.news_list li{
	font-size: 11px;
	text-transform: uppercase;
	padding-right: 20px;
	display: inline-block;
}
.news_list a{
	color: grey;
	text-decoration: none;

}
.news_list a:hover{
	color: white;
	font-weight: 700;

}
.news_list li:first-child{
	padding-left: 25px;
}
.news_list ul{
	width: 250px;
	display: inline-block;
}
.more{
	display: inline-block;
	float: right;
	font-size: 11px;
	color: #00b679;
	position: relative;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px #00b679;
	font-weight: 700;
	padding-top: 7px;
}
.more:before{
	content: '';
	position: absolute;
	right: 26px;
	background: url(../img/plus.png)no-repeat;
	height: 20px;
	width: 20px;
	top: 6px;
}

.more a{
	color: #00b679;
	text-decoration: none;
}
.more a:hover{
	color: #00b679;
}
.forum_button:before{
	content: '';
	position: absolute;
	right: 33px;
	background: url(../img/plus.png)no-repeat;
	height: 20px;
	width: 20px;
	top: 6px;
}
.forum_button a{
	text-decoration: none;
}
.forum_button {
	display: inline-block;
	float: right;
	font-size: 11px;
	color: #00b679;
	position: relative;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px #00b679;
	font-weight: 700;
	text-decoration: none;
	padding-top: 7px;
}
.forum_button a{
	color: #00b679;
}
.forum_buttom a:hover{
	color: #00b679;
}
.news_block{
	margin-top: 35px;
	color: grey;
	font-size: 13px;
}
.news_block h3{
	padding-bottom:15px;
	color: white;
	font-size: 24px;
}
.news_block img{
	width: 280px;
	height: 155px;
	float: left;
	margin-right: 40px;
	box-shadow: 0px 20px 30px rgba(0,0,0,0.8);
}
.dota_store {
	color: #df3d2d;
	text-decoration: none;
}
.dota_store:hover {
	text-decoration: underline;
}
.news_block-read{
	margin-top: 20px;
	display: block;
}
.news_block-read a{
	font-size: 9px;
	margin-right: 20px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 4px 15px;
	font-weight: 700;
	background: #2f292d;
	text-shadow: 0px 0px 10px #000;
	border-radius: 2px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
.news_block-read a:hover{
	filter: brightness(115%);
	transition: all 0.4s ease;
}
.news_info{
	margin-top: 40px;
}
.news_text{
	display: inline-block;
	color: white;
}
.news_info-line{
	box-sizing: border-box;
	width: 100%;
	color: grey;
	font-size: 13px;
	display: block;
	padding: 15px 10px;
	border-top: 1px dotted #373034;
}
.news_info-line:last-child{
	border-bottom: 1px dotted #373034;
}
.news_button a{
	vertical-align: top;
	display: inline-block;
	float: right;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 3px;
	font-size: 9px;
	opacity: 0;
	padding: 5px 10px 5px 10px;
	background: url(../img/btn.png)no-repeat;
}
.news_info-line:hover .news_button a {
	opacity: 1;
	text-decoration: none;
	color: white;
}
.news_info-line:hover{
	background: #292428;
}
.news_button a:hover{
	filter: brightness(115%);
	transition: all 0.5s ease;
}
.media_discussions_section{
	display: block;
}
.media_block{
	padding: 0 35px;
	width: 280px;
	display: inline-block;
	text-align: center;
}
.name_block{
	font-size: 18px;
	display: inline-block;
	color: white;
	text-align: left;
	padding-right: 30px;
}
.media_photo:first-child{
	margin-bottom: 21px;
}
.line_name{
	text-align: left;
	margin-bottom: 40px;
	padding-bottom: 15px;
	border-bottom: 1px solid #483f44;
}
.media_photo-top{
	margin-bottom: 20px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.8);
}
.media_photo-top a:hover{
	filter: brightness(125%);
	transition: all 0.4s ease;
}
.media_photo-bottom{

	display: flex;
	justify-content: space-between;
}
.media_photo-bottom img{
	width: 130px;
	height: 90px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.8);
}
.media_photo-bottom a:hover{
	filter: brightness(125%);
	transition: all 0.4s ease;
}
.discussions_block{
	width: 280px;
	display: inline-block;
	vertical-align: top;
}
.forum_news{
	border-bottom: 1px dotted #373034;
	height: 36px;
	font-size: 14px;
	color: white;
	padding-top: 17px;
	padding-bottom: 17px;
}
.forum_news a{
	display: inline-block;
	vertical-align: top;
	padding-right: 25px;
}
.forum_news:first-child{
	padding-top: 0;
}
.forum_news img{
	display: inline-block;
	width: 36px;
	margin-right: 15px;
	height: 36px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.8);
}
.forum_text{
	display: inline-block;
	width: 200px;
	color: grey;
	vertical-align: top;
}
.title_grey {
	width: 230px;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
}
.forum_title {
	display: inline-block;
	vertical-align: top;
	width: 200px;
}
.forum_author{
	position: relative;
	display: inline-block;
	width: 200px;
	vertical-align: top;
	color: #7d7b7c;
}
.author_red{
	color: #df3d2d;
	text-decoration:underline;
}
.author_red:hover{
	text-decoration: none;
}
.news_first{
	padding-top: 0px;
}
.title_grey{
	color: #7d7b7c;
	text-decoration: none;
}
.title_grey:hover{
	color: #c5c5c5;
	transition: all 0.8s ease;
}
.slash:before{
	content: '';
	position: absolute;
	top: 5px;
	margin-left: -14px;
	width: 1px;
	background: grey;
	height: 8px;
}

/*Aside*/

.big_button a{
	height: 90px;
	background: url(../img/big-btn.jpg)no-repeat;
	width: 320px;
	font-size: 11px;
	display: block;
	text-align: center;
	color: #965f5e;
	letter-spacing: 2px;
	font-weight: 700;
	text-decoration: none;
	background-size: cover;
}
.big_button a:hover{
	filter: brightness(115%);
}
.signup{
	padding-top: 15px;
	padding-bottom: 5px;
	display: block;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	vertical-align: middle;
}
.socials{
	width: 100%;
	background: #151412;
	display: block;
	position: relative;

}
.social_element{
	display: block;
	width: 150px;
	font-size: 12px;
	box-sizing: border-box;
	padding: 0px 5px;
}
.social_element a:hover{
	color: #c5c5c5;
	transition: all 0.5s ease;
}
.social_column{
	display: inline-block;
	width: 48.7%;
	border-right: 1px dotted #373034;
}
.social_column:last-child{
	border-right:none;
}
.social_facebook a{
	box-sizing: border-box;
	text-decoration:none;
	color: #736a6f;
	display: block;
	padding-top: 0px;
	height: auto;
	padding-left: 50px;
	line-height: 50px;
}
.social_facebook{
	width: 100%;
	height: 50px;
	position: relative;
	background: url(../img/face.png)no-repeat;
	background-position: 10% 50%;
	z-index: 1;
	border-bottom: 1px dotted #373034;
}
.social_twitter a{
	box-sizing: border-box;
	text-decoration:none;
	color: #736a6f;
	display: block;
	padding-top: 0px;
	height: auto;
	padding-left: 50px;
	line-height: 50px;
}
.social_twitter{
	width: 100%;
	height: 50px;
	position: relative;
	background: url(../img/twitter.png)no-repeat;
	background-position: 10% 50%;
	z-index: 1;
	border-bottom: 1px dotted #373034;
}
.social_youtube a{
	box-sizing: border-box;
	text-decoration:none;
	color: #736a6f;
	display: block;
	padding-top: 0px;
	height: auto;
	padding-left: 50px;
	line-height: 50px;
	position: relative;
	z-index: 1;
}
.social_youtube{
	width: 100%;
	height: 50px;
	background: url(../img/youtube.png)no-repeat;
	background-position: 10% 50%;
}
.social_twitch a{
	box-sizing: border-box;
	text-decoration:none;
	color: #736a6f;
	display: block;
	padding-top: 0px;
	height: auto;
	padding-left: 50px;
	line-height: 50px;
}
.social_twitch{
	position: relative;
	z-index: 2;
	width: 100%;
	height: 50px;
	background: url(../img/twitch.png)no-repeat;
	background-position: 10% 50%;
}
.hero_guide{
	width: 100%;
	height: 104px;
	position: relative;
	color: grey;
	padding-top: 20px;
	padding-left: 30px;
	background: #272427;
	box-sizing: border-box;
}
.hero_guide:before{
	content: '';
	position: absolute;
	background: url(../img/willow.png)no-repeat;
	background-position: 0% 50%;
	margin-top: -80px;
	left: 35%;
	height: 171px;
	width: 225px;
}
.hero_guide span{
	display: block;
	color: white;
	font-size: 18px;
	font-weight: 700;
}
.hero_guide span:nth-child(2){
	display: block;
	color: grey;
	margin-bottom: 14px;
	font-size: 14px;
}
.hero_guide a{
	font-size: 9px;
	background: #2f292d;
	padding:4px 15px;
	text-shadow: 0px 0px 10px #000;
	border-radius: 2px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	text-decoration:none;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
}
.hero_guide a:hover{
	filter: brightness(115%);
	transition: all 0.4s ease;
}
.search {
	width: 90%;
	padding: 12px 0;
	position: relative;
	margin: 0 auto;

}
.searchTerm {
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	border: none;
	height: 35px;
	border-radius: 1px;
	outline: none;
	background: #151214;
	color: #5e5359;
	padding:0 40px 0 20px;
}
.searchTerm:focus{
	color: #c5c5c5;
	width: 100%;
}
.searchButton {
	position: absolute;  
	right: 0px;
	height: 25px;
	width: 25px;
	bottom: 25%;
	right: 2%;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	border: none;
	background: url(../img/search.png)no-repeat;
}
.searchButton:hover{
	filter: brightness(155%);
	transition: all 0.4s ease;
}
.best_players{
	display: block;
	padding-bottom:20px;
}
.best_top{
	padding: 15px 25px;
	margin-bottom: 20px;
	background: url(../img/top.jpg);
	background-size: 100% 100%;
	text-transform: uppercase;
	color: white;
	font-size: 18px;
	font-weight: 700;
	position: relative;
}
.best_top b{
	vertical-align: top;
	font-size: 10px;
	line-height: 0.1;
	display: block;
}
.best_top span{
	text-align: center;
	font-size: 30px;
	line-height: 1;
	color: #ffdd8c;
	position: absolute;
	top: 25%;
	right: 10%;
}
.flag_top:before{
	content:'';
	position: absolute;
	top: 0;
	right: 4%;
	height: 60px;
	width: 60px;
	background: url(../img/flag.png)no-repeat;
}
.player_info{
	display: block;
	padding: 8px 10px;
	font-size: 18px;
	color: white;
	border-bottom: 1px dotted #373034;
	width: 80%;
	margin: 0 auto;
}
.top_number{
	width: 20px;
	display: inline-block;
}
.top_avatar{
	display: inline-block;
	width: 30px;
	height: 20px;
	vertical-align: bottom;

}
.top_avatar img{
	box-shadow: 1px 0px 10px 0px rgba(151,208,237,0.3);
}
.top_name{
	display: inline-block;
	width: 130px;
	font-size: 14px;
	padding-left: 10px;
}
.top_points{
	float: right;
	padding-top: 3px;
	color: #7fc054;
	font-size: 14px;
	position: relative;
}
.top_steam{
	position: absolute;
	top: 0;
	text-decoration:none;
	width: 60px;
	padding: 5px 0px;
	border-radius: 2px; 
	right: 0px;
	text-align: center;
	background: #2f292d;
	text-shadow: 0px 0px 10px #000;
	box-shadow: 0px 2px 40px rgba(0,0,0,0.8);
	font-size: 9px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	opacity: 0;
}
.top_steam img{
	width: 15px;
	padding-left: 3px;
	vertical-align: bottom;
}
.player_info:hover {
	background: #292428;
}
.player_info:hover .top_steam {

	opacity: 1;
	text-decoration: none;
	color: white;
}
.top_steam:hover{
	filter: brightness(125%);
	transition: all 0.4s ease;
}
.item_block{
	padding: 10px 30px 30px;
}
.item_back{
	background: url(../img/bg-item.jpg)no-repeat;
	width: 100%;
	text-align: center;
	height: 80px;
	position: relative;
	box-shadow: 0px 10px 30px  rgba(0,0,0,0.6);
	margin-bottom: 30px;
}
.item_back:before{
	content: '';
	position: absolute;
	width: 135px;
	height: 140px;
	top: -35%;
	right: 69px;
	background: url(../img/item.png)no-repeat;
}
.item_info{

	font-size: 14px;
	color: #7d7b7c;
	text-align: center;
}
.item_name{
	display: block;
	color: white;
	font-size: 18px;
}
.item_cost{
	display: block;
	font-size: 24px;
	color: #00b679;
	text-shadow: 0px 0px 10px #00b679;
}

.link_list{
	list-style: none;
	color: white;
	font-size: 14px;
	padding: 0 30px;
}
.link_list li{
	position: relative;
	padding-left: 15px; 
	margin-bottom: 15px;
}
.link_list li:before{
	content: '>';
	color: grey;
	position: absolute;
	top: 0;
	left: 0;
}
.link_list a{
	color: grey;
	text-decoration:none;
}
.link_list a:hover{
	color: #df3d2d;
	text-decoration:underline;
}
.partners_block{
	padding: 35px 0px;
	background: url(../img/bg-down.jpg)no-repeat;
}
.partners{
	display: inline-block;
	width: 680px;
	text-align: center;
}
.partners ul{
	padding: 0px 20px;
	display: flex;
	justify-content: space-around;
}

.become_partner{
	padding: 30px 0;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 320px;
	position: relative;
}
.become_partner:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 70px;
	border-left: 2px solid #221d20;
}
.become_partner a{
	font-size: 11px;
	font-weight: 700;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0px 10px 30px  rgba(0,0,0,0.6);
	background: url(../img/btn-partner.png)no-repeat;
}
.become_partner a:hover{
	filter: brightness(125%);
	transition: all 0.4s ease;
}
.footer_menu{
	text-align: center;
	padding-top: 30px;
	height: 145px;
	background: url(../img/footer-shine.jpg)bottom center no-repeat;
}
.footer_list li{
	display: inline-block;
	color: grey;
	font-size: 12px;
	padding: 0 40px;
	border-right: 1px solid #3d2422;
}
.footer_list li:last-child{
	border-right: none;
}
.footer_list a{
	color: #908d8b;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
}
.footer_list a:hover{
	color: white;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s ease;
}
.footer_arrow{
	display:block;
	margin-top: 20px;
	position: relative;
}
.footer_arrow:before{
	content: '';
	position: absolute;
	width: 50%;
	border-bottom:1px dotted #301c1b;
	height: 2px;
	top: 50%;
	left:0;
	z-index: 1;
}
.footer_arrow:after{
	content: '';
	position: absolute;
	width: 50%;
	border-bottom:1px dotted #301c1b;
	height: 2px;
	top: 50%;
	right:0;
	z-index: 1;
}
.footer_arrow a{
	position: relative;
	z-index: 2;
}
.footer_copyright{
	margin-top: 20px;
	font-size: 11px;
	color: #908d8b;
	text-transform: uppercase;
}
